h1, .h1 {
	color: $h1;
	margin: 85px 0;
	font-weight: 400;
	@include responsive-font(2.625vw, 37px, 46px, 42px);
}
h2, .h2 {
	color: $h2;
	@include responsive-font(2vw, 28px, 35px, 32px);
}
h3, .h3 {
	color: $h3;
	@include responsive-font(1.625vw, 23px, 28px, 26px);
}
h4, .h4 {
	color: $h4;
	@include responsive-font(1.4375vw, 20px, 25px, 23px);
}
h5, .h5 {
	color: $h5;
	@include responsive-font(0.8125vw, 12px, 14px, 13px);
}
h6, .h6 {
	color: $h6;
	@include responsive-font(0.6875vw, 10px, 12px, 11px);
}
strong {
	color: $strong;
}
#content a {
	border-bottom: 1px solid;
}
a {
	color: $link;
	font-weight: 700;
	text-decoration: none;
	-webkit-transition: $trans;
	   -moz-transition: $trans;
		-ms-transition: $trans;
		 -o-transition: $trans;
			transition: $trans;
	background-color: transparent;
	img {
		border-style: none;
	}
	&:hover {
		color: $linkhover;
	}
}
body {
	color: $bodytxt;
	font-family: $font;
	@include responsive-font(1vw, 14px, 17px, 16px);
}