$mainbg: #EDF2F6;
$darkbg: '';

$bodytxt: #888DA8;
$darktxt: '';

$heading: #515365;

$h1: $heading;
$h2: $heading;
$h3: $heading;
$h4: $heading;
$h5: $heading;
$h6: $heading;

$strong: $heading;

$icon: $heading;

$link: #FF5E3A;
$linkhover: #7C5AC2;

$border: #E6ECF5;
$cardbg: #FFFFFF;
$cardborder: 1px solid $border;

$font: 'Roboto', sans-serif;

$trans: all .6s cubic-bezier(.215,.61,.355,1);
