/* Normalize
========================================================================== */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
body {
	margin: 0;
	background: #EDF2F6;
}
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}
main {
	display: block;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}
img {
	height: auto;
	max-width: 100%;
}

/* Helper classes
========================================================================== */
$default-grid-columns: 12;
$default-grid-gutter: 2%;

.row {
	@include grid($gutter: $default-grid-gutter);

	.col-auto {
		@include grid-col($col: auto);
	}

	@for $i from 1 through $default-grid-columns {
		> .col-#{$i} {
			@include grid-col($col: $i, $grid-columns: $default-grid-columns, $gutter: $default-grid-gutter);
		}
	}
}
.breakout {
	left: 50%;
	right: 50%;
	width: 100vw;
	position: relative;
	margin-left: -50vw;
	margin-right: -50vw;
}
.container {
	@include center(1200px, 15px);
}
.cf {
	@include cf();
}
